footer{
    margin: 20px auto;
    ul.social{ 
        display: inline-block;
        width: 100%;
        padding: 0;
        
        text-align: center;
        li{
            display: inline-block;
            padding-left: 20px;

            a{
                text-decoration: none;
                
                color: #999999;
            }
        }
    }
    p{
        margin: 0; 
        text-align: center;

        a{
            color: #000000;
            text-decoration: none;

        }
    }
}